@font-face {
  font-family: 'Rubik Regular';
  src: url("/fonts/Rubik-Medium.eot");
  src: url("/fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik-Regular.woff") format("woff"), url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Medium';
  src: url("../fonts/Rubik-Medium.eot");
  src: url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Rubik Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  background: #fbfbfb;
}

.btn-primary {
  background: #f67555;
  border-color: #f67555;
}

.btn-primary:hover {
  background: #f67555;
  border-color: #f67555;
}

.container {
  height: inherit;
}

.nav-link:hover {
  color: #f67555;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.middle {
  width: 100%;
  padding: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.middle::after {
  display: table;
  clear: both;
  content: '';
}

.middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mcontainer {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 140px;
}

.content {
  width: 100%;
  padding: 0 0 0 70px;
  margin-bottom: 140px;
  overflow: hidden;
}

.content-title {
  margin: 0 8px 12px 0;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #f67555;
}

.mt50 {
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .middle {
    margin-top: 40px;
  }
  .content {
    padding: 0;
    padding-left: 15px;
    margin-bottom: 0;
  }
  .mt50 {
    margin-top: 0;
  }
}

.header {
  height: 56px;
}

.nav {
  width: 100%;
  font-family: 'Rubik Medium', sans-serif;
  background: #ffffff;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: .3125rem;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
}

.nav-link_active {
  position: relative;
  color: #444444;
}

.nav-link_active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f67555;
}

.nav-left, .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-login {
  color: #f67555;
  margin-right: 24px;
}

.nav-login__mobile {
  display: none;
}

.nav_menu {
  display: none;
}

.nav-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: transparent;
  width: 35px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 101;
}

.nav-btn_line {
  display: block;
  background-color: #444444;
  width: 16px;
  height: 2px;
  margin: 2px 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-btn--active :nth-child(1) {
  -webkit-transform: rotate(45deg) translate(7px, 1px);
          transform: rotate(45deg) translate(7px, 1px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav-btn--active :nth-child(2) {
  display: none;
}

.nav-btn--active :nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, 3px);
          transform: rotate(-45deg) translate(3px, 3px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.navbar-nav {
  padding-left: 70px;
}

@media screen and (max-width: 991px) {
  .nav-logo {
    width: 200px;
    padding-top: 3px;
    padding-left: 40px;
  }
  .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
  }
  .nav-link {
    padding: 0;
  }
  .nav-login {
    margin-right: 0;
    padding-top: 5px;
    padding-right: 20px;
  }
  .nav-login__mobile {
    display: block;
  }
  .nav-left {
    width: 100%;
  }
  .nav-right {
    display: none;
  }
}

.sidebar {
  width: 200px;
  margin-bottom: 140px;
}

.sidebar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin: 24px 0;
  padding: 16px 16px 24px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 71, 0.06), 0 2px 2px 0 rgba(50, 50, 71, 0.06);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 71, 0.06), 0 2px 2px 0 rgba(50, 50, 71, 0.06);
  background-color: #fff;
}

.sidebar-block-title {
  margin: 0 29px 16px 30px;
  font-size: 9px;
  line-height: 1.78;
  font-family: 'Rubik Medium', sans-serif;
  color: #444444;
}

.sidebar-prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f67555;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik Medium', sans-serif;
}

.sidebar-prise img {
  width: 36px;
  height: 42px;
  margin: 0 29px 16px 30px;
}

.sidebar-prise span {
  color: #444444;
  text-transform: lowercase;
}

.sidebar-prise_button {
  margin: 0 29px 16px 30px;
}

.sidebar-statistic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 29px 16px 30px;
}

.sidebar-statistic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 10px;
  color: #444444;
}

.sidebar-statistic-item p {
  margin: 5px;
}

.sidebar-statistic-item span {
  font-family: 'Rubik Medium', sans-serif;
  color: #f67555;
}

.sidebar-advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik Medium', sans-serif;
  color: #f67555;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
}

.sidebar-advert img {
  width: 200px;
  height: 300px;
}

.sidebar-advert span {
  margin-top: 18px;
}

.sidebar-nav {
  display: none;
}

@media screen and (max-width: 991px) {
  .sidebar {
    margin: 0;
    margin-left: -215px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .sidebar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 306px;
    margin: 0 69px 120px -215px;
    padding: 24px 53px 84px;
    border: solid 1px #f6f6f6;
    border-radius: 10px;
    background: #f6f6f6;
  }
  .sidebar-wrap-active {
    margin-left: 0;
  }
  .sidebar-active {
    margin-left: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.2);
    overflow-y: scroll;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .sidebar-nav {
    display: block;
  }
  .sidebar-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .sidebar-nav-item {
    padding-top: 15px;
  }
  .sidebar-nav-link {
    color: #444444;
    font-family: 'Rubik Regular', sans-serif;
    text-decoration: none;
  }
  .sidebar-nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .sidebar-nav-link_active {
    position: relative;
    color: #444444;
  }
  .sidebar-nav-link_active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f67555;
  }
}

.footer {
  position: relative;
  margin: -300px auto 0;
  height: 300px;
  background: #202020;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54px;
  background: #252525;
}

.footer-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
}

.footer-bottom_copyright {
  display: block;
}

.footer-bottom_info, .footer-bottom_logo {
  display: none;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 68px 0 0 0;
}

.footer-section-title {
  margin: 0 39px 20px 0;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color: #f67555;
}

.footer-section-content {
  margin: 20px 0 8px;
}

.footer-section-content a {
  font-family: 'Rubik Regular', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
  text-decoration: none;
}

.footer-section-content__faces {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[4];
      grid-template-columns: repeat(4, 40px);
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  width: 200px;
}

.footer-section-content__faces img {
  width: 39px;
  height: 39px;
  border-radius: 300px;
  border: solid 1px rgba(228, 228, 228, 0.6);
}

.footer-section-content__payments img {
  width: 70px;
  height: 40px;
  margin: 20px 8px 0 0;
  padding: 14px 9px 1;
}

.footer_payments_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_payments_content img {
  width: 70px;
  height: 40px;
  margin: 20px 8px 0 0;
  padding: 14px 9px 1;
}

@media screen and (max-width: 991px) {
  .footer {
    height: 452px;
  }
  .footer_information__2 {
    display: none;
  }
  .footer_payments {
    width: 100%;
  }
  .footer_payments_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_payments_title {
    display: none;
  }
  .footer_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bottom {
    height: 126px;
  }
  .footer-bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom_logo {
    display: block;
  }
  .footer-bottom_copyright {
    display: none;
  }
  .footer-bottom_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px;
  }
  .footer-bottom_info p {
    margin: 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-content a {
  padding: 14px 84.5px;
}

.main-content p {
  margin: 12px 0 28px;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main img {
  width: 515px;
}

.main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-item img {
  width: 100px;
  height: 100px;
  margin: 11px 40px 11px 0;
  padding: 15px 17px 20px 18px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 0 0 #dfdfdf;
          box-shadow: 2px 2px 0 0 #dfdfdf;
}

.main-item-content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-item-content p {
  line-height: 1.5;
}

.main-item-content h2 {
  margin: 0 663px 20px 0;
  font-family: 'Rubik Medium', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #f67555;
}

@media screen and (max-width: 991px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main img {
    width: 311px;
  }
  .main-content a {
    display: none;
  }
  .main-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-item-content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .main img {
    width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */