html, body
	height: 100%

body
    +regular
    font-size: 16px
    line-height: 1.5   
    color: $dark
    background: #fbfbfb
.btn
    border-radius: 3px
    &-primary
        background: $main-orange
        border-color: $main-orange
        &:hover
            background: $main-orange
            border-color: $main-orange
            color: #fff
    &-blue
        background: $main-blue
        border-color: $main-blue
        color: #fff
        &:hover
            background: $main-blue
            border-color: $main-blue
            color: #fff
.container
    height: inherit
.nav
    &-link
        &:hover
            color: $main-orange
.wrapper 
    width: 100%
    margin: 0 auto
    min-height: 100%
    height: auto !important
    height: 100%
.middle 
    width: 100%
    padding: 0 0 300px
    display: flex
    margin-top: 60px
    &::after 
        display: table
        clear: both
        content: ''
    &-container
        display: flex

.mcontainer 
    width: 100%
    float: left
    overflow: hidden
    margin-bottom: 140px
.content 
    width: 100%
    padding: 0 0 0 70px
    margin-bottom: 140px
    overflow: hidden
    &-title
        margin: 0 8px 12px 0
        +medium
        font-size: 24px
        line-height: 1.5
        color: $main-orange
.mt50
    margin-top: 50px
.form-select
    +regular
    font-size: 16px
    line-height: 1.25
    color: #757575
   
@media screen and (max-width: 991px) 
    .middle
        margin-top: 40px
    .content
        padding: 0
    .mt50
        margin-top: 0      
    
    
